.bg-body-tertiary {
    background-color: red;
}

.dropdown-item {
    color: green;
}

.container-fluid {
    background-color: yellow ;
    margin-color: green;   
}

.bg-body-tertiary {
    background-color: red !important;
}